In [231]:
from __future__ import unicode_literals
import pandas as pd
import regex as re
import jieba

In [244]:
df = pd.read_csv('test.csv', usecols=['words'], encoding='utf-8')

In [245]:
df.head(10)

                                          words
0                                          中国移动
1                                            台湾
2                                            中国
3                                       你好新加坡几多
4                              apa digital town
5                                to digi square
6             Singtel welcomes you to Singapore
7  Enjoy free data roaming with XL when you buy

In [243]:
if df['words'].str.contains('apafg', case=False).any():
    print('fake')

In [226]:
keywords = re.compile(r' 印度 | 台湾大哥大 | digi | starhub')

In [212]:
def chinese_tokenizer(text):
    sent = jieba.cut(text, cut_all=False, HMM=True)
    return ' '.join(sent)

In [223]:
df['words'].apply(chinese_tokenizer)

0                    中国移动
1                      台湾
2                      中国
3               你好 新加坡 几多
4    apa   digital   town
5      to   digi   square
Name: words, dtype: object

In [70]:
def print_rows(row):
    rows = row
    print(rows)
    print('Here')
    print(type(rows))

In [225]:
#keywords.search(df.iloc[4,0])
print(filter(keywords.search,df.iloc[4,0]))
print(filter(keywords.search,df.iloc[5,0]))

In [210]:
## testing 
#string = '中国移动'
print(type(df.iloc[0,0]))
# print(type(string))
# string = df.iloc[4,0]

if keywords.search(word1):
    print('Contains word')
else:
    print('Does not contain word')

<type 'unicode'>
Does not contain word

In [96]:
def keyword_search(row):
    string = row
    print(string)
    if keywords.search(string):
        print('Contains word')
    else:
        print('Does not contain word')

In [230]:
df['words'].str.contains(' 加坡 | 台湾大哥大 | digi | starhub')

0    False
1    False
2    False
3    False
4    False
5     True
Name: words, dtype: bool

In [71]:
df.apply(print_rows)

0    中国移动
1       台湾
2       中国
Name: words, dtype: object
Here
<class 'pandas.core.series.Series'>

words    None
dtype: object